/**************************/
/* HEADER */
/**************************/
.header {
  background-color: red;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

/**************************/
/* NAVIGATION */
/**************************/
.nav {
}

.nav-list {
}

.nav-link {
}

/**************************/
/* Title */
/**************************/
.title-container {
  display: flex;
  justify-content: center;
  background-color: purple;
}

.title {
}
/**************************/
/* HERO */
/**************************/

.hero-section {
}

.hero-container {
  background-color: blue;
  display: flex;
}

.hero-education-container {
  width: 33.3%;
  height: 30rem;
  background-color: pink;
}

.hero-img-container {
  width: 33.3%;
  height: 30rem;
  background-color: cadetblue;

  /* max-width: 100%; */
  /* overflow: hidden; */
}

.hero-short-about-container {
  width: 33.3%;
  height: 30rem;
  background-color: burlywood;
}

.hero-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Add this property */
}
